.post{
    padding: 20px 0 10px 5px;
}
.post li{
    list-style: none;
}
.post_submit{
    background: none;
    border: none;
    width:78px;
    height:79px;
    background: url('../images/submit.png') no-repeat;
}